# Data files
*.png
*.mat
*.pdf
*.npy
*.asv

# Directories
data/
images/
.venv/
Closedloop_edit/

# Utils subdirectories
utils/npy-matlab/
utils/Pipelines/
utils/Rigbox/
utils/widefield/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/
*.code-workspace

# Office lock files
~$*.pptx
~$*.docx
~$*.xlsx

